body {
  background: linear-gradient(#fff4e7, #ffe8cd );
}

.aboutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#fff4e7, #ffe8cd );
  
}

.aboutContent {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: center; */
  width: 100%;
  height: 50%;
  align-items: center;
  
  /* margin-top: 5vh; */
}

.aboutSabrina {
  width: 30%;
  height: 100%;
  /* aspect-ratio: 16/9; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutSabrina > img {
  width: 80%;
  height: 75%;
  border: #DE9B72 6px double;
  /* padding-left: 3vw;
  padding-top: 5vh; */
}
.aboutDescrip {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 300;
  font-family: kazimir, Georgia, 'Times New Roman', Times, serif;
  color: rgb(61, 29, 29);
  
    /* justify-content: center; */
}
.contactInfo {
  width: 25%;
  margin-top: -25rem;
  display: none;
}
.contactInfo > img {
  width: 4vw;
  aspect-ratio: 1;
} 

.floralContainer {
  display: flex;
  justify-content: center;
}
 .floralDesign {
    width: 60%;
    height: 10%;
    padding-top: 2rem;
    padding-bottom: 2rem;
 }

 .floralRotate {
  transform: rotate(180deg);
 }

.holdBaby {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.holdBaby > img {
  width: 80%;
  height: 75%;
  border: #cb8b63 6px double;
  /* border: 2px; */
  /* border-radius: 2rem; */
  /* aspect-ratio: 16/9; */
  /* aspect-ratio: .9; */
}
.locationNav {
    position: absolute;
    margin-top: -6vh;
    margin-left: 18vw;
    color:rgb(69, 34, 34);
    -webkit-text-stroke: .5px black; /* width and color */
    
  }

  .locationNav h3 {
    font-size: 1.5vw;
  }

  /* .senegalFlag {
    position: absolute;
    /* margin-left: 16vw;
    margin-top: -.2vh; */
    /* width: 18%;
    aspect-ratio: 12/9;
} */ 

@media only screen and (max-width: 992px) {
  .holdBaby {
    width: 50%;
  }

  .aboutSabrina {
    width: 50%;
  }
}

@media only screen and (max-width: 650px) {
.aboutDescrip {
  width: 100%;
}



}