/* html {
    height: 100%;
} */
/* body {
    
    background: linear-gradient(#fff4e7, #ffe8cd ); 
    display: flex;
    flex-direction: column;
 } */ 

.photoContainer {
    display: flex;
    /* justify-content: space-evenly; */
}

.historyBackground {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#fff4e7, #ffe8cd );
    justify-content: center;
    align-items: flex-start;
}
.historyContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: center;
    
}

.historyContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
}
.historyContent > p {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 300;
    font-family: kazimir, Georgia, 'Times New Roman', Times, serif;
    color: rgb(61, 29, 29);
    padding: 2rem 0rem 2rem;
    text-indent: 3rem;

}

.historyImages {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}

.locationNav {
    display: flex;
    position: absolute;
    /* margin-top: -6vh; */
    margin-left: 18vw;
    color:rgb(69, 34, 34);
    -webkit-text-stroke: .5px black; /* width and color */
  }
.senegalMap {
    /* margin-left: 70vw;
    margin-top: -22vh; */
    border: 2px solid rgb(105,52,52);
    width: 35%;
    aspect-ratio: 1.2;
}

#townsign {
    /* margin: 0 0 5vw 5vw; */
    border: 2px solid rgb(105,52,52);
    width: 35%;
    
    aspect-ratio: 1 !important;
} 

/* #ndouc {
    position: relative;
    font-size: 1.5vw;
} */
/* .senegalFlag {
    position: absolute;
     margin-left: 21vw;
    margin-top: -1vh; 
    width: 4%;
    aspect-ratio: 16/9;
} */

@media only screen and (max-width: 1550px) {
   
}
@media only screen and (max-width: 1250px) {
   
}

@media only screen and (max-width: 1050px) {
  
}

@media only screen and (max-width: 992px) {
    #townsign {
        width: 45% ;
    }

    .senegalMap {
        width: 45%;
    }
}