.photoContainer {
    display: flex;
    /* justify-content: space-evenly; */
}

.historyContent {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    height: 20vh;
    /* flex-direction: column;  */

}

.locationNav {
    position: absolute;
    margin-top: -6vh;
    margin-left: 18vw;
    color:rgb(69, 34, 34);
    -webkit-text-stroke: .5px black; /* width and color */
  }
.senegalMap {
    margin-left: 70vw;
    margin-top: -22vh;
    border: 2px solid rgb(105,52,52);
}

#townsign {
    margin-left: 5vw;
    margin-top: -20vh;
    border: 2px solid rgb(105,52,52);
    float: left;
} 

#ndouc {
    position: relative;
    font-size: 1.5vw;
}
.senegalFlag {
    position: absolute;
    margin-left: 16vw;
    margin-top: -.2vh;
}