main {
    display: flex;
    width: 100vw;
    position: relative;
}
h1 {
    padding: 0.5rem 0.5rem;
    text-align: center;
    color: rgb(105, 52, 52);
    font-family: cardo;
    font-style: italic;
    font-weight: 800;
    font-size: 56px;
}

@font-face {
    font-family:"TangerineRegular" ;
    src: url('../fonts/Sora,Tangerine/Tangerine/Tangerine-Regular.ttf');
}

h2 {
    background-color: rgba(160, 160, 160, .5);
    color: rgb(255, 255, 255);
    /* text-align: center; */
    font-size: 4.6vw;
    /* font-family: , kazimir; */
    
    font-style: normal;
    font-weight: 800;
    /* margin-left: 33%; */
    margin-top: 7%;
    padding: 0 3px 0 3px;
    -webkit-text-stroke: .5px black; /* width and color */
}

h3 {
    display: flex;
    font-family: kazimir, Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 300;
}

h4 {
    font-size: 2.6vw;
    font-weight: 600;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: .25px black; /* width and color */
    background-color: rgba(160, 160, 160, .5);
    margin-left: 15%;
    margin-top: 5%;
    width: 75%;
}
.btmHome {
    /* background: linear-gradient(#fff4e7, #ffe8cd ) ; */
    background: linear-gradient(#eeb26e, #ba7143 ) ;
    /* background-color: #ba8343; */
    border-top: 6px double rgb(105, 52, 52);
    padding-bottom: 4vh;
}
/* :root {
    --picCarousel-padding: 5rem;
} */

.container {
    display: flex;
    justify-content: center;
}

.picCarousel {
    display: flex;
    width: 95%;
    transform: translateX(-00%);
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 1.5rem;

}

.picCarousel > img {
    /* flex: 0 0 25%; */
    max-width: 25%;
    aspect-ratio: 10/9;
    padding: .25rem;
    border-radius: 2.2rem;
    
}

.donationGoals {
    width: 65%;
    color: rgb(105, 52, 52);
    font-family: cardo, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    border: 6px double rgb(105, 52, 52) ;
    padding: 1rem 1rem 1rem 3rem;
}

.goalsContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-top: 8vh;

}

.homeBackground {
    display: flex;
    background-image: url("../assets/images/bgTree.jpeg") ;
    background-repeat: no-repeat;
    background-size: 100vw 105vh;
    width: 100vw;
    height: 100vh;
    background-position: 75% 5%;
    aspect-ratio: 1.26;
    justify-content: center;
  }
.location {
    position: absolute;
    margin-left: 45vw;
    margin-top: 8vh;
}

#ndouc {
    position: relative;
}

.picCarousel {
    justify-content: start;
    border: black;
    margin-left: 2vw;
    margin-top: -2vh;
}

.titleText {
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}
footer {
    text-align: center;
    font-size: 38px;
    font-family: cursive;
    color: white;
    font-weight: 400;
    background-color: rgb(91, 23, 23);
}

@media only screen and (max-width: 950px) {
    .picCarousel > img {
        max-width: 33%;
        
    }
}

@media only screen and (max-width: 820px) {
    .homeBackground {
        background-repeat: no-repeat;
        background-position: 50% 15%;
        background-size: 100vw 80vh;
        width: 100vw;
        height: 65vh;
        aspect-ratio: 1.26;
      }
}
@media only screen and (max-width: 650px) {
    .picCarousel > img {
        aspect-ratio: 12/9;
        padding: .25rem;
        border-radius: .75rem;
        
    }

    h1 {
        text-align: center;
        color: rgb(105, 52, 52);
        font-family: cardo;
        font-style: italic;
        font-weight: 800;
        font-size: 36px;
    }

    .donationGoals {
        width: 85%;
        color: rgb(105, 52, 52);
        font-family: cardo, Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 400;
        border: 6px double rgb(105, 52, 52) ;
        padding: .5rem .5rem .5rem 1.5rem;
    }
}
@media only screen and (max-width: 425px) {
    .picCarousel > img {
        max-width: 50%;
    }
    .homeBackground {
    background-position: top;
    }
    h2 {
       color: rgb(105, 52, 52);
        font-size: 6vw;
        font-family: kazimir Georgia, 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        margin-left: 25%;
        -webkit-text-stroke: .15px black; /* width and color */
        display: none;
    }
}

/* @media only screen and (max-width: 375px) {
 

    .homeBackground {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left -18rem;
        width: 100vw;
        height: 85vh;
        
      }


} */
